* {
	padding: 0;
	margin: 0;
	font-family: "Verdana", Geneva, Tahoma, sans-serif;
	box-sizing: border-box;

	line-height: 1.65;
}

img {
	width: 100%;
}

.container {
	display: flex;
	height: 100vh;
	border: 1px solid red;

	justify-content: space-evenly;
	align-items: center;
}

.profile {
	flex-basis: 30%;
}
.profile figure {
	display: flex;
	flex-direction: column;
}
.profile figcaption {
	padding: 1rem 0;
	background-color: #b6b8b4;
	text-align: center;
}

.about {
	flex-basis: 50%;
	max-width: 40rem;

	display: flex;
	flex-direction: column;
	gap: 30px;
}

.hobby ul {
	margin-left: 3rem;
}

.icon {
	width: 40px;
	color: #238488;
}
